<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>
	Booking
</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'first_app\fontawesome-free-5.11.2-web\css\all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'first_app\bootstrap\css\bootstrap.css' %}" >


<link rel="stylesheet" type="text/css" href="{% static 'book.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  	hr.new4 {
  border: solid black;
}
  </style>
</head>


<body>
<!-- <div class="container"> -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="#"><span style="color: white">Navbar</a>
 


    
        <a class="nav-link" href="#" style=" text-align: right;"><span style="color: white;">Home <span class="sr-only">(current)</span></a>
      
  </nav>
  			<hr class="new4" style="margin-top: 10px">
			<!-- <h1 style="margin-bottom: 10px; margin-top: 10px; text-align: center; ">Book Rooms</h1>
 -->		
		<div class="row">
		<div class="card card-body" style="background-color: black">
			<form method="POST" action="">
				{% csrf_token %}
				 <div class="form-row">
    				<div class="col">
    					<label for="number" style="color: white">Number of Rooms</label>
      					<input type="number" min="1" class="form-control" id="number" placeholder="No. of rooms" required>
    				</div>
    				<div class="col">
    					<div><label for="type" style="color: white">Type of Rooms</label></div>
      					<select name="type" id="type" class="form-control" required>
      						<option value="Economy">Economy</option>
      						<option value="Deluxe">Deluxe</option>
      						<option value="SuperDeluxe">SuperDeluxe</option>
      						<option value="Suite">Suite</option>
      					</select>
    				</div>
    				<div class="col">
    					<label for="checkin" style="color: white">Check-In Date</label>
    					 <ul class="list-group list-group-flush">
      					<input type="text" class="form-control datepicker" placeholder="Check-In" id="checkin" required>
      				</ul>
    				</div>
    				<div class="col">

    					<label for="checkout" style="color: white">Check-Out Date</label>
    					<ul class="list-group list-group-flush">
      					<input type="text" class="form-control datepicker" placeholder="Check-Out" id="checkout" required>
      				</ul>
    				</div>
  				</div>
  						</div>
	</div>
	<div style="text-align: center; margin-top: 10px">
	<button style="width: 25%" type="submit" class="btn btn-primary btn-md">Book Rooms</button>
</div>
			</form>

	<hr class="new4">

<!-- </div>	 -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>	
<script>
var labels="{{dates}}";   
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:[{% for d in dates %} 
        "{{ d }}", {% endfor %}] ,
        datasets: [{
            label: '# of Votes',
            data: [{% for n in rooms %}
            {% for r in n %}
            {% if forloop.counter == 1 %}
             "{{r}}",
             {% endif %} {% endfor %} {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</body>
</html>