<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>
	Reception
</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'first_app\fontawesome-free-5.11.2-web\css\all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'first_app\bootstrap\css\bootstrap.css' %}" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  	canvas{

  width:1100px !important;
  height:700px !important;
  margin-top: 40px;

}
img{
  height: 30px;
 }
  </style>

  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'first_app/images/nuno.png' %}"></a>
 
        <a class="nav-link" href="{% url 'checking' %}" style=" text-align: right;"><span style="color: white;">New Booking </span><span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'logout' %}" style=" text-align: right;"><span style="color: white;">Logout <span class="sr-only">(current)</span></a>
      
  </nav>
  <div class="container">
    <h3 style="margin-bottom: 20px">Current Bookings</h3>
    {% if current %}
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Booking Id</th>
      <th scope="col">Booking Name</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Rooms</th>
     

      

    </tr>
  </thead>
  <tbody>
    {% for d in current %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{d.Booking_Id}}</td>
      <td>{{d.Booking_Name}}</td>
      <td>{{d.Check_in}}</td>
      <td>{{d.Check_out}}</td>
      <td>
        <table>
          {% for x in d.Room_Id.all %}

        <tr>{{x.Room_Id}},</tr>

        {% endfor %}

      </table></td>


    
       
    </tr>
    {% endfor %}
     </tbody>
</table>
{% else %}
<h3 style="margin-top: 20px";>No current bookings</h3>
{% endif %}

<h3 style="margin-bottom: 20px; margin-top: 20px">Past Bookings</h3>
 {% if last %}
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Booking Id</th>
      <th scope="col">Booking Name</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Rooms</th>

      

    </tr>
  </thead>
  <tbody>
    {% for d in last %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{d.Booking_Id}}</td>
      <td>{{d.Booking_Name}}</td>
      <td>{{d.Check_in}}</td>
      <td>{{d.Check_out}}</td>
      <td>
        <table>
          {% for x in d.Room_Id.all %}

        <tr>{{x.Room_Id}},</tr>
        {% endfor %}

      </table></td>
     

    
       
    </tr>
    {% endfor %}
     </tbody>
</table>
{% else %}
<h3 style="margin-top: 20px";>No past bookings</h3>
{% endif %}

</div>
</body>
</html>
