<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>
	Reception
</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'first_app\fontawesome-free-5.11.2-web\css\all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'first_app\bootstrap\css\bootstrap.css' %}" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  	canvas{

  width:1100px !important;
  height:700px !important;
  margin-top: 40px;

}
 table{
  margin-top: 20px;
 }
 input{
  margin:5px;
 }
 img{
  height: 30px;
 }
  </style>

  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="#"><img src="{% static 'first_app/images/nuno.png' %}"></a>
 
        <a class="nav-link" href="{% url 'reception' %}" style=" text-align: right;"><span style="color: white;">Home </span><span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'logout' %}" style=" text-align: right;"><span style="color: white;">Logout <span class="sr-only">(current)</span></a>
      
  </nav>
 
  <div class="container">
   
    <h3 style="margin-bottom: 20px">Current Bookings</h3>
     <form method='GET'>
    {{filter_current.form}}
    <button type="submit" name='current' class="btn btn-primary">Search</button>
  </form>
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Booking Id</th>
      <th scope="col">Booking Name</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Rooms</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>

      

    </tr>
  </thead>
  <tbody>
    {% for d in details %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{d.Booking_Id}}</td>
      <td>{{d.Booking_Name}}</td>
      <td>{{d.Check_in}}</td>
      <td>{{d.Check_out}}</td>
      <td>
        <table>
          {% for x in d.Room_Id.all %}

        <tr>{{x.Room_Id}},</tr>

        {% endfor %}

      </table></td>
      <td><a class="btn btn-primary btn-md" href="{% url 'check' d.Booking_Id %}">{{d.status}}</a></td>
      <td><a class="btn btn-primary btn-md" href="{% url 'extract' d.Booking_Id %}">Details</a></td>

    
       
    </tr>
    {% endfor %}
     </tbody>
</table>

<h3 style="margin-bottom: 20px; margin-top: 20px">Past Bookings</h3>
<form method='GET'>
    {{filter_past.form}}
    <button type="submit" name='past' class="btn btn-primary">Search</button>
  </form>
  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Booking Id</th>
      <th scope="col">Booking Name</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Rooms</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>

      

    </tr>
  </thead>
  <tbody>
    {% for d in last %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{d.Booking_Id}}</td>
      <td>{{d.Booking_Name}}</td>
      <td>{{d.Check_in}}</td>
      <td>{{d.Check_out}}</td>
      <td>
        <table>
          {% for x in d.Room_Id.all %}

        <tr>{{x.Room_Id}},</tr>
        {% endfor %}

      </table></td>
      <td><a class="btn btn-primary btn-md" href="{% url 'check' d.Booking_Id %}">{{d.status}}</a></td>
      <td><a class="btn btn-primary btn-md" href="{% url 'extract' d.Booking_Id %}">Details</a></td>

    
       
    </tr>
    {% endfor %}
     </tbody>
</table>
</div>
<script >
  var form_fields = document.getElementsByTagName('input');
  form_fields[3].style.width="100px";
  form_fields[9].style.width="100px";

</script>
</body>
</html>
