{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	   <link rel="stylesheet" type="text/css" href="{% static 'first_app\fontawesome-free-5.11.2-web\css\all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'first_app\bootstrap\css\bootstrap.css' %}" >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       

<style>
input{
	margin: 5px;
}
h3{
	margin: 15px;
}
img{
	height: 30px;
}
.card{
	margin-top: 20px;
}
	
</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="#"><img src="{% static 'first_app/images/nuno.png' %}"></a>
  	<a class="nav-link" href="{% url 'housekeeping_request' %}" style=" text-align: right;"><span style="color: white;">Housekeeping Request<span class="sr-only">(current)</span></a>
  		<a class="nav-link" href="{% url 'restaurant' %}" style=" text-align: right;"><span style="color: white;">Order Food<span class="sr-only">(current)</span></a>
 
        
         <a class="nav-link" href="{% url 'staylogout' %}" style=" text-align: right;"><span style="color: white;">Logout <span class="sr-only">(current)</span></a>
       
  </nav>
	
	<div class="row">
	

	<div class="col-md">
		{% if orders %}
		<h3>YOUR ORDERS</h3>
		<hr>
		<div class="card card-body">
			<!-- <div class="row">
			<div class='col-lg-4'><a class="btn btn-primary btn-block  " href="">Add Item</a></div>
			<div class='col-lg-4'><a class="btn btn-primary btn-block  " href="">Remove Item</a></div>
			<div class='col-lg-4'><a class="btn btn-primary btn-block   " href="">Change Item</a></div>
		</div> -->
			<table style="margin-top: 30px" class="table table-sm">
				<tr>
					<th>Order Id</th>
					<th>Booking Id</th>
					<th>Room Id</th>
					<th>Items</th>
					<th>Total amount</th>
					<th>Status</th>
				</tr>
				{% for i in orders %}
					<tr>
					<td>{{i.Order_Id}}</td>
					<td>{{i.Booking_Id}}</td>
					<td>{{i.Room_Id}}</td>
					<td>
						<table>
							{% for j in i|quantity %}
							<tr>{{j.Order.Food_Item}}({{j.Quantity}})--$({{j.Order.Price|multiply:j.Quantity}}),</tr>

							{% endfor %}
						</table>
					</td>	
					<td>${{i|total}}</td>			
					<td>
						{{i.Status}}
	
</td>
				</tr>
				
				{% endfor %}
		
			</table>
		</div>
		{% else %}
		<h3>No orders yet!</h3>


		{% endif %}

	</div>
</div>


	

	<div class="col-md">
		{% if request_is %}
		<h3>Your Housekeeping Requests</h3>
		<hr>
		{% for i in request_is %}
		<div class="card card-body">
		<div><textarea name="Request" style="width: 100%" cols="40" rows="10" readonly>{{i.Request}}</textarea></div>
		<button class="btn btn-primary btn-sm " style="width: 25%; margin-top: 20px">{{i.Status}}</button>
		</div>
		{% endfor %}
		{% else %}
		<h3>No requests yet!</h3>


		{% endif %}

	</div>
