<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>
	Login
</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'first_app\fontawesome-free-5.11.2-web\css\all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'first_app\bootstrap\css\bootstrap.css' %}" >
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>
    img{
  height: 30px;
 }
  </style>
<link rel="stylesheet" type="text/css" href="{% static 'sig.css' %}">
</head>
<body style="background-image: url({% static 'first_app/images/pp.png' %}) " >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="#"><img src="{% static 'first_app/images/nuno.png' %}"></a>
 
        <a class="nav-link" href="{% url 'abc' %}" style=" text-align: right;"><span style="color: white;">Home <span class="sr-only">(current)</span></a>
       
  </nav>
  <form method='POST'>
{% csrf_token %}
 <div class='container'>
   
  
    {% if messages %}
      <ul class='messages'>
        {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}  
    </ul> 
  </div>

    <div class='container d-flex justify-content-center'>
      
      <div class='card' style="margin-top: 100px;">
        <div style="padding-left: 140px; background-color: rgba(0,0,0,0); " class="card-header">
           <i style="font-size: 100px;" class="fa fa-users" aria-hidden="true"></i>
         </div>
        <div style="color: white; background-color: rgba(86,178,240,1); text-align: center;" class='card-header'>

          <h2 >LOGIN</h2>
        </div>
        <div class='card-body'>
            <div class='input-group form-group'>
              <div  class='input-group-prepend'>
                <span style="margin-right: 10px " class='input-group-text'>
                  <i  class="fas fa-user"></i>
                </span>
              </div>
              <span style="color: white"><b>{{form.username.label}}</b> </span>
              <span style="margin-left: 30px">{{form.username}} </span>
            </div>
            
            <div class='input-group form-group'>
              <div class='input-group-prepend'>
                <span style="margin-right: 10px"  class='input-group-text'>
                  <i class="fas fa-unlock-alt"></i>
                </span>
              </div>
             <span style="color: white"> 
             <b>Password</b></span>
              <span style="margin-left: 35px" ><input style="height: 30px; width: 180px" type="Password" name="Password" class="form-control" required></span>
            </div>
            
            <div class='form-group'>
              <input style="width: 400px" type='submit' value='Login' class='btn btn-primary'>
            </div>

            <div style="color: black"> <p style="margin-left: 95px">Don't have an account?</p></div>
            <div style="color: black" > <p style="margin-left: 150px"><a style="color: black" href="{% url 'sign' %}"><u>Sign Up</u></a></p></div>
          
        </div>
      </div>
    
  </div>  



</form>	
<script >
  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder='Username..';
  form_fields[2].placeholder='Enter Password';
</script>

  
</body>	
</html>
